<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Adeptus Titanicus</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="styles.css" />
	<!-- production version, optimized for size and speed -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!-- script src="vue.js"></script-->
</head>

<body class="container">

<div id="app">


<!-- setup -->
<section class="setup" v-if="setup.mode">

	<div class="row">
		<div class="col-3">
			<!-- type -->
			<select v-model="setup.titan">
				<option value="">Select a Titan class</option>
				<option value=""></option>
				<option v-for="titan in titanTypes"
						:value="titan">{{ titan.type }} ({{ titan.cost }} pts)</option>
			</select>
		</div>

		<!-- weapons -->
		<div class="col-7" v-if="setup.titan">

			<select v-model="setup.leftArm" v-if="armWeaponsAvailable(setup.titan).length > 0">
				<option value="">Select Left Arm weapon</option>
				<option value=""></option>
				<option v-for="weapon in armWeaponsAvailable(setup.titan)"
						:value="weapon">{{ weapon.name }} ({{ weapon.cost }} pts)</option>
			</select>
			<select v-model="setup.rightArm" v-if="armWeaponsAvailable(setup.titan).length > 0">
				<option value="">Select Right Arm weapon</option>
				<option value=""></option>
				<option v-for="weapon in armWeaponsAvailable(setup.titan)"
						:value="weapon">{{ weapon.name }} ({{ weapon.cost }} pts)</option>
			</select>
			<select v-model="setup.carapace" v-if="carapaceWeaponsAvailable(setup.titan).length > 0">
				<option value="">Select Carapace weapon</option>
				<option value=""></option>
				<option v-for="weapon in carapaceWeaponsAvailable(setup.titan)"
						:value="weapon">{{ weapon.name }} ({{ weapon.cost }} pts)</option>
			</select>
		</div>

		<!-- cost -->
		<div class="col">
			<div class="value">{{ cost }} points</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button @click="startGame">Start the game</button>
		</div>
	</div>

</section>



<!-- titan -->
<section class="titan" v-else>

	<!-- order / id / type -->
	<div class="row">
		<div class="col-2 box"></div>
		<div class="col">
			<div class="title id">{{name}}</div>
			<div class="summary">
				<div class="title">{{titan.type}} Titan</div>
				<div class="title">scale: {{titan.scale}}</div>
				<div class="title">{{cost}} points</div>
			</div>
		</div>
	</div>

	<!-- stats -->
	<div class="row">
		<div class="col">
			<div class="title">command</div>
			<div class="value box">{{ titan.command }}</div>
		</div>
		<div class="col">
			<div class="title">speed</div>
			<div class="value box">{{ titan.speed }}</div>
		</div>
		<div class="col">
			<div class="title">manoeuvre</div>
			<div class="value box">{{ titan.manoeuvre }}</div>
		</div>
		<div class="col">
			<div class="title">ballistic skill</div>
			<div class="value box">{{ titan.ballisticSkill }}</div>
		</div>
		<div class="col">
			<div class="title">weapon skill</div>
			<div class="value box">{{ titan.weaponSkill }}</div>
		</div>
		<div class="col">
			<div class="title">servitor clades</div>
			<div class="value box">{{ titan.servitorClades }}</div>
		</div>
	</div>

	<!-- crippling effects -->
	<div class="row">
	</div>

	<!-- reactor -->
	<div class="row">
		<div class="col box"
				:class="color(reactorLevel[0])">
			<div class="title">plasma reactor</div>
			<div class="value">{{ reactorMax - current.reactor }} / {{ reactorMax }}</div>
			<button v-if="current.reactor > 0"
					@click="ventReactor">Vent Reactor [4+]</button>
			<button v-if="current.reactor < reactorMax"
					@click="pushReactor">Push reactor</button>
		</div>
	</div>

	<!-- weapons -->
	<div class="row">

		<!-- left arm -->
		<div class="col box">
			<div>Left Arm</div>
			<div v-if="current.leftArm">
				<div>{{ leftArm.name }}</div>
				<div class="firing-arc">{{ leftArm.arc }}</div>
				<div class="table">
					<div class="value">
						<div class="title">Range</div>
						<div class="title right">ACC</div>
					</div>
					<div class="value">
						<div class="left">Short</div>
						<div>{{ leftArm.shortRange[0] }}</div>
						<div class="right">{{ leftArm.shortRange[1] }}</div>
					</div>
					<div class="value">
						<div class="left">Long</div>
						<div>{{ leftArm.longRange[0] }}</div>
						<div class="right">{{ leftArm.longRange[1] }}</div>
					</div>
				</div>
				<div class="table">
					<div class="value">
						<div class="title left">Dice</div>
						<div class="title right">Str</div>
					</div>
					<div class="value">
						<div class="left">{{ leftArm.dice }}</div>
						<div class="right">{{ leftArm.strength }}</div>
					</div>
				</div>
				<div>Traits: {{ leftArm.traits }}</div>
				<button @click="disableLeftArmWeapon">{{ leftArm.armor }}: Weapon Disabled</button>
			</div>
			<div class="red" v-else>
				<div>{{ leftArm.name }}</div>
				<div>Weapon Disabled</div>
				<button @click="repairLeftArmWeapon">Repair Weapon [{{ leftArm.repair }}]</button>
				<div class="table">
					<div class="value"
							v-for="damage in leftArm.damages">
						<div class="left">{{ damage[0] }}:</div>
						<div class="right">{{ damage[1] }}</div>
					</div>
				</div>
			</div>
		</div>
	
		<!-- Carapace -->
		<div class="col box" v-if="carapace">
			<div>Carapace</div>
			<div v-if="current.carapace">
				<div>{{ carapace.name }}</div>
				<div class="firing-arc">{{ carapace.arc }}</div>
				<div class="table">
					<div class="value">
						<div class="title">Range</div>
						<div class="title right">ACC</div>
					</div>
					<div class="value">
						<div class="left">Short</div>
						<div>{{ carapace.shortRange[0] }}</div>
						<div class="right">{{ carapace.shortRange[1] }}</div>
					</div>
					<div class="value">
						<div class="left">Long</div>
						<div>{{ carapace.longRange[0] }}</div>
						<div class="right">{{ carapace.longRange[1] }}</div>
					</div>
				</div>
				<div class="table">
					<div class="value">
						<div class="title left">Dice</div>
						<div class="title right">Str</div>
					</div>
					<div class="value">
						<div class="left">{{ carapace.dice }}</div>
						<div class="right">{{ carapace.strength }}</div>
					</div>
				</div>
				<div>Traits: {{ carapace.traits }}</div>
				<button @click="disableCarapaceWeapon">{{ carapace.armor }}: Weapon Disabled</button>
			</div>
			<div class="red" v-else>
				<div>{{ carapace.name }}</div>
				<div>Weapon Disabled</div>
				<button @click="repairCarapaceWeapon">Repair Weapon [{{ carapace.repair }}]</button>
				<div class="table">
					<div class="value"
							v-for="damage in carapace.damages">
						<div class="left">{{ damage[0] }}:</div>
						<div class="right">{{ damage[1] }}</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Right arm -->
		<div class="col box">
			<div>Right Arm</div>
			<div v-if="current.rightArm">
				<div>{{ rightArm.name }}</div>
				<div class="firing-arc">{{ rightArm.arc }}</div>
				<div class="table">
					<div class="value">
						<div class="title">Range</div>
						<div class="title right">ACC</div>
					</div>
					<div class="value">
						<div class="left">Short</div>
						<div>{{ rightArm.shortRange[0] }}</div>
						<div class="right">{{ rightArm.shortRange[1] }}</div>
					</div>
					<div class="value">
						<div class="left">Long</div>
						<div>{{ rightArm.longRange[0] }}</div>
						<div class="right">{{ rightArm.longRange[1] }}</div>
					</div>
				</div>
				<div class="table">
					<div class="value">
						<div class="title left">Dice</div>
						<div class="title right">Str</div>
					</div>
					<div class="value">
						<div class="left">{{ rightArm.dice }}</div>
						<div class="right">{{ rightArm.strength }}</div>
					</div>
				</div>
				<div>Traits: {{ rightArm.traits }}</div>
				<button @click="disableRightArmWeapon">{{ rightArm.armor }}: Weapon Disabled</button>
			</div>
			<div class="red" v-else>
				<div>{{ rightArm.name }}</div>
				<div>Weapon Disabled</div>
				<button @click="repairRightArmWeapon">Repair Weapon [{{ rightArm.repair }}]</button>
				<div class="table">
					<div class="value"
							v-for="damage in rightArm.damages">
						<div class="left">{{ damage[0] }}:</div>
						<div class="right">{{ damage[1] }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- void shield -->
	<div class="row">
		<div class="col box"
				:class="color(shieldLevel[0])">
			<div class="title">void shield</div>
			<div class="value">{{ shieldLevel[1] }}</div>
			<div class="value">{{ shieldMax - current.shield }} / {{ shieldMax }}</div>
			<button v-if="current.shield >= shieldMax"
					@click="riseShield">Rise void shield [6]</button>
			<button v-else-if="current.shield > 0"
					@click="riseShield">Rise void shield [5+]</button>
			<button v-if="current.shield < shieldMax"
					@click="loseShield">Lose void shield</button>
		</div>
	</div>

	<!-- head location -->
	<div class="row box">
		<div class="col-4">
			<div class="title">Head</div>
			<button v-if="current.headLocation > 0"
					@click="cancelDamageToHeadLocation">Cancel damage</button>
			<button @click="directHitToHead">{{ titan.headLocation.directHit }}: Direct Hit</button>
			<button @click="devastatingHitToHead">{{ titan.headLocation.devastatingHit }}: Devastating Hit</button>
			<button @click="criticalHitToHead">{{ titan.headLocation.criticalHit }}: Critical Hit</button>
		</div>
		<div class="col-2" :class="color(headLocationLevel[0])">
			<div class="value">{{ headLocationLevel[1] }}</div>
			<div class="value">{{ headLocationMax - current.headLocation }} / {{ headLocationMax }}</div>
		</div>
		<div class="col-2" :class="color(headCriticalLevel[0])">
			<div class="value">{{ current.headCritical }} / {{ headCriticalMax }}</div>
			<button v-if="current.headCritical > 0"
					@click="repairCriticalToHead">Repair [5+]</button>
		</div>
		<div class="col-4" :class="color(headCriticalLevel[0])">
			<div v-for="effect in headCriticalLevel[1]">{{ effect }}</div>
		</div>
	</div>

	<!-- body location -->
	<div class="row box">
		<div class="col-4">
			<div class="title">Body</div>
			<button v-if="current.bodyLocation > 0"
					@click="cancelDamageToBodyLocation">Cancel damage</button>
			<button @click="directHitToBody">{{ titan.bodyLocation.directHit }}: Direct Hit</button>
			<button @click="devastatingHitToBody">{{ titan.bodyLocation.devastatingHit }}: Devastating Hit</button>
			<button @click="criticalHitToBody">{{ titan.bodyLocation.criticalHit }}: Critical Hit</button>
		</div>
		<div class="col-2" :class="color(bodyLocationLevel[0])">
			<div class="value">{{ bodyLocationLevel[1] }}</div>
			<div class="value">{{ bodyLocationMax - current.bodyLocation }} / {{ bodyLocationMax }}</div>
		</div>
		<div class="col-2" :class="color(bodyCriticalLevel[0])">
			<div class="value">{{ current.bodyCritical }} / {{ bodyCriticalMax }}</div>
			<button v-if="current.bodyCritical > 0"
					@click="repairCriticalToBody">Repair [5+]</button>
		</div>
		<div class="col-4" :class="color(bodyCriticalLevel[0])">
			<div v-for="effect in bodyCriticalLevel[1]">{{ effect }}</div>
		</div>
	</div>

	<!-- legs location -->
	<div class="row box">
		<div class="col-4">
			<div class="title">Legs</div>
			<button v-if="current.legsLocation > 0"
					@click="cancelDamageToLegsLocation">Cancel damage</button>
			<button @click="directHitToLegs">{{ titan.legsLocation.directHit }}: Direct Hit</button>
			<button @click="devastatingHitToLegs">{{ titan.legsLocation.devastatingHit }}: Devastating Hit</button>
			<button @click="criticalHitToLegs">{{ titan.legsLocation.criticalHit }}: Critical Hit</button>
		</div>
		<div class="col-2" :class="color(legsLocationLevel[0])">
			<div class="value">{{ legsLocationLevel[1] }}</div>
			<div class="value">{{ legsLocationMax - current.legsLocation }} / {{ legsLocationMax }}</div>
		</div>
		<div class="col-2" :class="color(legsCriticalLevel[0])">
			<div class="value">{{ current.legsCritical }} / {{ legsCriticalMax }}</div>
			<button v-if="current.legsCritical > 0"
					@click="repairCriticalToLegs">Repair [5+]</button>
		</div>
		<div class="col-4" :class="color(legsCriticalLevel[0])">
			<div v-for="effect in legsCriticalLevel[1]">{{ effect }}</div>
		</div>
	</div>
	
	<!-- weapons -->
	<div class="row">
	</div>

	<!-- special rules
	<div class="row box">
		<div class="special-rule">
			<div class="title">Ardex-Defender Cannon:</div>
			<div>When the Titan is activated in the Combat phase, each enemy unit that is within its Front or Rear arc, and within 6", suffers D3 Strength 5 hits.</div>
		</div>
	</div> -->

</section>

</div>

<script src="app.js"></script>
</body>
</html>