body {
	background-color: black;
	color: lightblue;
	text-align: center;
}

.box {
	border: 1px lightblue solid;
}

.titan {}

.title {
	text-transform: uppercase;
}
.value {
	font-weight: bold;
}
.summary {
	display: flex;
	justify-content: space-between;
}
.order {}
.id {
	font-size: 3em;
}
.class {}
.scale {}
.cost {}
.stats {}
.stat {}

.special-rule {
	text-align: justify;
}
.special-rule div {
	display: inline;
}

.status {}
.level {
	display: flex;
}
.level div {
	width: 80px;
}
.green {
	background-color: ForestGreen;
	color: black;
}
.blue {
	background-color: LightBlue;
	color: black;
}
.yellow {
	background-color: Gold;
	color: black;
}
.orange {
	background-color: OrangeRed;
}
.red {
	background-color: DarkRed;
}
.reactor {}
.shield {}
.locations {}
.location {}
.damage {
	display: flex;
}
.table {
	display: table;
}
.table .value {
	display: table-row;
	font-weight: normal;
}
.table .left {
	display: table-cell;
	text-align: right;
}
.table .right {
	display: table-cell;
	text-align: left;
	padding-left: 5px;
}
.critical {}
.weapons {}
.weapon {}
.enabled {}
.name {}
.firing-arc {}
.range {}
.accuracy {}
.strength {}
.traits {}
.disabled {
	background-color: darkred;
}
.repair {}
